[user]
	email = cbell7@icloud.com
	name = Christopher Bell
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
	helper = store
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
[github]
    user = cbell504
[core]
	autocrlf = input
